body {
    background-image: url("https://res.cloudinary.com/imagesoftravel/image/upload/v1734636501/abzbz26dclcbrqaxvqgh.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.edit-user-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
form{
    width: 100%;
    max-width: 500px;
    margin: auto;
}
h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 15px;
}
.btn-success, .btn-danger {
    width: 48%;
}